@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
body{
  font-family: gopher, sans-serif !important;
  font-style: normal;
  font-weight: 500 !important;
  background: #FBF6F1;
  color: #223614;
  /* line-height: 1.2rem; */
  /* letter-spacing: -1px; */
}